#hero.high
  .scroller
    .row
      .small-12.columns.text-center
        .alert-box{data: {alert: ""}}
          %a.close &times;
          %h1 我们尽量帮你
          = link_to '联系我们', new_message_path, class: 'button alert radius'
