.row.promo
  .columns.small-12.medium-4
    %h1.green-color 海关清关
    %p 报关清关的问题是对外运输的最常见的问题。我们公司保证又尽快又不贵的办理海关手续。我司提供办理海关手续的全服务。
  .columns.small-12.medium-4
    %h1.red-color 清关服务
    %p 我们提供注册所需的配套，成本，运输，报关文件（包括翻译和公证）; 我们提供货物住宿，货物临时存储（在莫斯科，圣彼得堡;
  .columns.small-12.medium-4
    %h1.yellow-color 国际运输
    %p 我们公司提供组织实施国际货物运输。国际货运是我们活动的主要方向之一，也是进口和出口清关手续。国际货运是一个复杂的:
