.row
  .thumb
    .row
      .columns.small-12.medium-4
        %h2 公路运输
        %p= image_tag "thumb/car.jpg", class: "th"
      .columns.small-12.medium-4
        %h2 空中运输
        %p= image_tag "thumb/airplane.jpg", class: "th"
      .columns.small-12.medium-4
        %h2 水上运输
        %p= image_tag "thumb/boat.jpg", class: "th"
