.row.hero
  %ul.example-orbit{data: {orbit: "", options: "animation: slide; bullets: false; paus_on_hover: false;"}}
    %li= image_tag("slides/slide-1.jpg")
    %li= image_tag("slides/slide-2.jpg")
    %li= image_tag("slides/slide-3.jpg")
