- content_for :top do
  = render "top"
  = render "promo"
  = render "quote"
  = render "thumb"

- content_for :bottom do
  .bottom

%h1 交付和 报关交钥匙 «Hermes»公司。
%p «Hermes»公司提供服务，运输和清关来自东南亚，欧洲和北美。   来自东欧和中欧商品的运输和清关需要长达5天，从西欧长达9天， 来自东南亚和北美（美国，加拿大）36至45天。  也可以快递通过空运，交货期限是 2〜3天。
%p 货物通关产自啊海关职位波罗的海，圣彼得堡和普尔科沃海关，中央消费税海关（CAT）的消费税西北办事处。我们保证货物的完整性和安全性 在清关，仓储保税仓库，我们保证操作的性能上的内部端口转发。 «Hermes»公司的专家做所有必要的工作为了货物的快速释放。
%p 海关清关圣彼得堡是根据关键在海关机会皮卡产品组织和紧迫的问题。 货物通关，在抵达圣彼得堡的海运，空运，铁路和公路。
%p 为什么要信任»Hermes»公司商业品通关？
%p 我们提供最好的价格和市场上的合作，最灵活的条款;
%p 我们提供全方位的服务交付“门到门”从世界各地;
%p 我们提供在全俄罗斯工作，将货物运到全国任何地区;
%p 我们提供物流计划，在各个方向运行;
%p 我们已经建立了圣彼得堡的海关工作人员接触;
%p 我们提供附加服务：产品合格证，保险等。
%p 现在就联系我们就预定交付和商业货品清关免费咨询。我们将能够为您提供在市场上合作的最有利的条件。

