- content_for :hero do
  = render "hero"

%h1在俄罗斯讨债
%hr
%h2为中国企业家的律师
%p 如果你在俄罗斯工作时候失去了你们的钱，尽快跟我们联系。
%h3 我们会帮助你把你的钱取回来。
%p 在俄罗斯工作不容易。 在俄罗斯很多不可靠的合作伙伴。 
%p 在俄罗斯官员和警察受贿。 在俄罗斯很多中国企业家被欺骗了。
%p 在俄罗斯基本都人们不会说汉语。 没有人可以帮助中国人。 
%p 对中国企业家来说在俄罗斯做生意很难。
%h4 如果你在俄罗斯工作时候失去了你们的钱，尽快跟我们联系。
%h3 我们将尽我们所能的来帮助你。
%p 千万别忘如果你的产品和钱都有文档的话我们才可以帮你。
%h3 如果没有文件的话我们无法帮你。
%p 在俄罗斯债务追偿是艰苦的工作。这是要付钱的。
%h3 你付钱以后我们开始工作。
%p 我们熟悉您的情況之后， 我们就会告诉你有没有机会拿回来你的钱。如果没办法把你得到你的钱拿回来我们会直接告诉你的这件事。 你不要付钱！
%h3 我们不会骗你的！
%hr
%h4.red 对那些人谁欺骗了你，给他们看下面的图片。 
= image_tag('kit.jpg', height: '', width: '')
%h4.red 嘿你，俄罗斯的骗子！
%h4.red 不要欺骗中国人！ 
%h4.red 我们会一起去找你！
= social_share_button_tag("在俄罗斯讨债")
