@import "foundation/functions";
@import 'foundation-icons';

$red: #762D20;
$black: #240000;
$blue: #599cad;
$pink: #ff4958;
$yellow: #996B2F;
$grey: #d2c2a8;
$green: #02AA53;
$white: #FFFFFF;

// We use these to control various global styles
$body-bg: #fff;
$body-font-color: #222;
$body-font-family: Arial, "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
$body-font-weight: normal;
$body-font-style: normal;

// We use these as default colors throughout
$primary-color: #008CBA;
$secondary-color: #e7e7e7;
$alert-color: #f04124;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;

// Media Query Ranges
$small-range: (0em, 40em);
$medium-range: (40.063em, 64em);
$large-range: (64.063em, 90em);
$xlarge-range: (90.063em, 120em);
$xxlarge-range: (120.063em);

$row-width: rem-calc(1000);
$column-gutter: rem-calc(30);
$total-columns: 12;


//
// TOP BAR
//

// $include-html-top-bar-classes: $include-html-classes;

// Background color for the top bar
$topbar-bg-color: white;
$topbar-bg: $topbar-bg-color;

// Height and margin
$topbar-height: 70px;
$topbar-margin-bottom: 0;

// Controlling the styles for the title in the top bar
$topbar-title-weight: normal;
$topbar-title-font-size: rem-calc(17);

// Style the top bar dropdown elements
// $topbar-dropdown-bg: #333;
// $topbar-dropdown-link-color: #fff;
// $topbar-dropdown-link-bg: #333;
// $topbar-dropdown-link-weight: normal;
// $topbar-dropdown-toggle-size: 5px;
// $topbar-dropdown-toggle-color: #fff;
// $topbar-dropdown-toggle-alpha: 0.4;

// Set the link colors and styles for top-level nav
$topbar-link-color: #666;
$topbar-link-color-hover: #D6DDC6;
$topbar-link-color-active: #666;
$topbar-link-color-active-hover: #666;
$topbar-link-weight: normal;
$topbar-link-font-size: rem-calc(13);
$topbar-link-hover-lightness: -10%; // Darken by 10%
$topbar-link-bg-hover: $red;
$topbar-link-bg-active: $primary-color;
$topbar-link-bg-active-hover: scale-color($primary-color, $lightness: -14%);
$topbar-link-font-family: $body-font-family;
$topbar-link-text-transform: none;
$topbar-link-padding: $topbar-height / 4;

// $topbar-button-font-size: 0.75rem;
// $topbar-button-top: 7px;

// $topbar-dropdown-label-color: #777;
// $topbar-dropdown-label-text-transform: uppercase;
// $topbar-dropdown-label-font-weight: bold;
// $topbar-dropdown-label-font-size: rem-calc(10);
// $topbar-dropdown-label-bg: #333;

// Top menu icon styles
$topbar-menu-link-transform: uppercase;
$topbar-menu-link-font-size: rem-calc(13);
$topbar-menu-link-weight: bold;
$topbar-menu-link-color: #666;
$topbar-menu-icon-color: #666;
$topbar-menu-link-color-toggled: #888;
$topbar-menu-icon-color-toggled: #888;

// Transitions and breakpoint styles
// $topbar-transition-speed: 300ms;
// Using rem-calc for the below breakpoint causes issues with top bar
$topbar-breakpoint: #{upper-bound($medium-range)}; // Change to 9999px for always mobile layout
$topbar-media-query: "only screen and (min-width: #{upper-bound($medium-range)})";

// Divider Styles
$topbar-divider-border-bottom: solid 1px  $red;
$topbar-divider-border-top: solid 1px $red;

// Sticky Class
// $topbar-sticky-class: ".sticky";
// $topbar-arrows: true; //Set false to remove the triangle icon from the menu item

@import 'foundation';
