.footer.text-center
  %p 提醒： 我们的律师公司从1994年开始在一直都从事偿还债务！！！
  = image_tag('logonew.png', height: '', width: '', class: "text-center")
  %p
    %a{href: "http://www.dolg-vozvrat.com"} 我们俄文的网站 - www.dolg-vozvrat.com


