%footer.footer
  .row
    .columns.small-12.medium-7
      %h3 联系方式
      %ul.no-bullet
        %li «Hermes»公司
        %li 电话/ 传真: +7 (812) 64 323 62
        %li 地址：191186, 圣彼得堡, 涅夫斯基车道22
    .columns.small-12.medium-5
      %h3 请你跟我们走 
      %p= social_share_button_tag(root_path)

