%ul.example-orbit{"data-orbit" => ""}
  %li
    = image_tag "slides/slide-1.jpg"
    .orbit-caption Caption One.
  %li.active
    = image_tag "slides/slide-2.jpg"
    .orbit-caption Caption Two.
  %li
    = image_tag "slides/slide-3.jpg"
    .orbit-caption Caption Three.
